<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <add name="OmpdDB" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.10.207)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = creadata)));PERSIST SECURITY INFO=True;USER ID=ompd;password=1234" providerName="System.Data.OracleClient" />
     
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.1.0" newVersion="6.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>